services:
  backend:
    build: ./Backend
    ports:
      - "5001:3001"
    env_file:
      - ./Backend/.env

  frontend:
    build: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend
