@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-main-bg: #f5bc47;
  --color-main-foreground: #c6c6c6;

  --color-primary: #ce9613;
  --color-secondary: #bf6a02;
  --color-third: #ad711d;
}

.dark {
  --color-main-bg: #0f0542;
  --color-main-foreground: #ffffff;
}

.Alfa-slab-one {
  font-family: "Alfa Slab One", serif;
}

.Nanum-Gothic {
  font-family: "Nanum Gothic", sans-serif;
}

.Oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.Archivo-Black {
  font-family: "Archivo Black", sans-serif;
}
.Ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
